main {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    padding: 40px 40px;
    max-width: 900px;
    margin: 0 auto;
}
main h1 {
    color: black;
    margin-top: 30px;
    margin-bottom: 30px;
}

main h2 {
    font-size: clamp(18px, 3vw, 28px);
    margin-top: 30px;
    margin-bottom: 10px;
}
main p {
    font-size: clamp(14px, 2vw, 18px);
    color: black;
    line-height: 1.6;
    margin-bottom: 20px;
}

main .demoCanvas {
    background-color: grey;
    width: 400px;
    height: 400px;
}