*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --max-width: 500px;
    --main-width: auto;
}

body {
    margin: 0;
    background: white;
    line-height: 1.5rem;
    display: flex;
    justify-content: center;
}

main {
    background-color: beige;
    width: var(--main-width);
    p {
        text-align: justify;
    }
}

.container {
    width: min(95vw, var(--max-width));
    margin-inline: auto;
}

header {
    padding: 2rem;
}

#heading {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

    #expandBtn {
        background-color: transparent;
        border: none;
        font-size: 1.3rem;
        cursor: pointer;
        
        &:hover {
            transform: scale(1.2) rotate(10deg);
        }
    }
    
    
}

/* -- Expand section -- */
.expand {
    --max-width: 1200px;
    --main-width: 100%;
    --canvasBody-height: auto;
}



/* ------------------------- */
/* ---- Commit Section ----- */
.commitSection {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.readHideBtn {
    background-color: transparent;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
    padding: 0px;
}

#readMore {
    display: none;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    padding: 2rem;
    margin-bottom: 2rem;

    div {
        margin: 0px 50px;
        padding: 10px;
        background-color: rgb(176, 176, 175);
        color: #1877F2;
        text-align: center;
        border-radius: 10px;
    }

    .readHideBtn {
        display: block;
        margin-left: auto;
        margin-bottom: 10px;
    }
}
#readMore.show {
    display: block;
}


/* ------------------------------- */
/* ---- Demostration Section ----- */

#demoCanvas {
    background-color: rgb(220, 220, 220);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}