*{
    box-sizing: border-box;
}

:root {
    --main-width: 440px;
    --canvasBody-height: auto;
    --tile-size: 60px;
}

body {
    margin: 0;
    padding: 20px;
    background: white;
    line-height: 1.5rem;
    display: flex;
    justify-content: center;
}

#heading {
    display: flex;
    justify-content: space-between;

    #expandBtn {
        background-color: transparent;
        border: none;
        font-size: 1.2rem;
        cursor: pointer;
    }
}

/* -- Expand section -- */
.expand {
    --main-width: 100%;
    --canvasBody-height: auto;
}

main {
    background-color: beige;
    width: min(100%, var(--main-width));
    padding: 20px;

    p {
        text-align: justify;
    }
}

#demoCanvasBody {
    background-color: lightgrey;
    height: var(--canvasBody-height);
    margin: 20px 0px;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}


/* ------------------------- */
/* ---- Commit Section ----- */
.commitSection {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.readHideBtn {
    background-color: transparent;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
    padding: 0px;
    
}

#readMore {
    display: none;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;

    div {
        margin: 0px 50px;
        padding: 10px;
        background-color: rgb(176, 176, 175);
        color: #1877F2;
        text-align: center;
        border-radius: 10px;
    }

    .readHideBtn {
        display: block;
        margin-left: auto;
        margin-bottom: 10px;
    }
}
#readMore.show {
    display: block;
}




/* ------------------------------- */
/* ---- Demostration Section ----- */
.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

#gameScore {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#gameBoard {
    display: grid;
    gap: 2px;
    background-color: rgb(251, 251, 251);
    padding: 2px;
    margin: 10px 0px;
    border: 5px solid rgb(25, 150, 200);
    border-radius: 5px;

    .tile {
        background-color: rgb(25, 150, 200);
        cursor: pointer;
        border: none;
        text-align: center;
        border-radius: calc(var(--tile-size) * 0.07);
        width: var(--tile-size);
        height: var(--tile-size);
        font-size: 0px;
    }
    .tile.revealed {
        background-color: rgb(200, 200, 200);
        font-size: 44px;
        transition: ease-in-out 0.2s;
    }
    .tile.matched {
        background-color: rgb(0, 200, 0);
        transition: ease 0.5s;
    }
}

#gameResult {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#gameResult.show {
    display: flex;
}
